/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #dffff6
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

/* HEADER */

header {
    width: 100%;
    height: 20vh;
    background-color: #092532;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Montserrat;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    align-self: flex-start;
}

header nav {
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 0;
    width: 60%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #092532;
    background-color: #89c9b8;
    border-radius: 12px;
    padding: 1%;
    margin: 0 2%;
    transition-property: color background-color;
    transition-duration: 50ms;
    transition-duration: 400ms;
}

header nav a:hover {
    background-color: #092532;
    color: #89c9b8;
}

/* MAIN */

.welcome {
    height: 75vh;
    text-align: center;
    margin-top: 8%;
    font-family: Roboto;
    color: #092532;
}

.welcome div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    color: #092532;
}

.welcome h2 {
    font-size: 5rem;
    letter-spacing: 5px;
}

.welcome h3 {
    font-size: 2.5rem;
    margin: 2% 0;
}

.welcome p {
    font-size: 2rem;
}

.welcome a {
    text-decoration: none;
    display: inline-block;
    color: #dffff6;
    background-color: #092532;
    border-radius: 12px;
    padding: 2%;
    margin-top: 5%;
    transition-property: color background-color;
    transition-delay: 75ms;
    transition-duration: 300ms;
    width: 30%;
}

.welcome a:hover {
background-color: #e1ffc2;
color: #092532;

}

/* PHOTO GRID AREA */

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 175vh;
}

.photos div {
    width: 29%;
    text-align: center;
}

.photos div p {
    font-family: Roboto;
    font-size: 2rem;
    margin: 4% 0;
    color: #092532;
}

.photos div img {
    height: 75%;
    width: 75%;
}

/* FOOTER */ 

footer {
    height: 25vh;
    background-color: #092532;
    text-align: right;
}

footer p {
    font-family: Montserrat;
    margin-left: 3%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    text-align: right;
    padding: 2%;
}

footer .nav-links {
    display: flex;
}

footer .nav-links a {
    color: #89c9b8;
    text-decoration: none;
    margin: 0 2%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Montserrat;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 400ms;
}

footer .nav-links a:hover {
color: #e1ffc2;
}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 500px) {

}