/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

/* HEADER */

header {
    width: 100%;
    height: 20vh;
    background-color: #092532;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Montserrat;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    align-self: flex-start;
}

header nav {
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 0;
    width: 60%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #092532;
    background-color: #89c9b8;
    border-radius: 12px;
    padding: 1%;
    margin: 1% 2%;
    transition-property: color background-color;
    transition-duration: 50ms;
    transition-duration: 400ms;
}

header nav a:hover {
    background-color: #092532;
    color: #89c9b8;
}

/* MAIN */

.welcome {
    height: 60vh;
    text-align: center;
    margin-top: 8%;
    font-family: Roboto;
    color: #092532;
}

.welcome div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    color: #092532;
}

.welcome h2 {
    font-size: 5rem;
    letter-spacing: 5px;
}

.welcome h3 {
    font-size: 2.5rem;
    margin: 2% 0;
    line-height: 3.3rem;
}

.italics {
    font-style: italic;
    font-weight: 700;
    font-size: 3.3rem;
}

.shadow {
    text-shadow: 2px 2px 5px #89c9b8;
}

.welcome p {
    font-size: 2rem;
}

.welcome a {
    text-decoration: none;
    display: inline-block;
    color: #dffff6;
    background-color: #092532;
    border-radius: 12px;
    padding: 2%;
    margin-top: 5%;
    transition-property: color background-color;
    transition-delay: 75ms;
    transition-duration: 300ms;
    width: 30%;
}

.welcome a:hover {
background-color: #e1ffc2;
color: #092532;

}

/* PHOTO GRID AREA */

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 150vh;
}

.photos div {
    width: 29%;
    text-align: center;
}

.photos div p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 2.3rem;
    font-style: italic;
    margin: 4% 0;
    color: #092532;
    display: inline-block;
    text-shadow: 3px 3px 5px hsla(164, 37%, 66%, 0.6);
}

.photos div img {
    height: 60%;
    width: 80%;
}

/* FOOTER */ 

footer {
    height: 25vh;
    background-color: #092532;
    text-align: right;
}

footer p {
    font-family: Montserrat;
    margin-left: 3%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    text-align: right;
    padding: 2%;
}

footer .nav-links {
    display: flex;
}

footer .nav-links a {
    color: #89c9b8;
    text-decoration: none;
    margin: 0 2%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Montserrat;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 400ms;
}

footer .nav-links a:hover {
color: #e1ffc2;
}

/* H1 FIX FOR BETWEEN 1230-800 PX */

@media (max-width: 1230px) {
    h1 {
        font-size: 3rem;
    }
}

/* MEDIA QUERY FOR TABLET */
@media (max-width: 862px) {

    /* HEADER */

    header {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 5rem;
        align-self: center;
    }
    
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header nav a {
        width: 30%;
        font-size: 2rem;
        padding: 1% 0;
        margin: 1.5% auto;
        text-align: center;
    }

    /* PHOTO GRID AREA */

    .photos {
        height: 250vh;
    }
    .photos div {
        width: 48%;
    }
    .photos div img {
        height: 60%;
    }

    /* FOOTER */

    footer {
        height: 30vh;
    }
    footer nav a {
        text-align: center;
        font-size: 1.5rem;
    }

    footer p {
        text-align: center;
        margin-bottom: 3%;
    }

}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 500px) {
    
    /* HEADER */

    header {
        height: 40vh;
    }
    
    h1 {
        margin: 1% 0;
        font-size: 3rem;
        letter-spacing: 3px;
        align-self: center;
    }
    
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header nav a {
        width: 50%;
        font-size: 2rem;
        padding: 0;
        margin: 1.5% auto;
        text-align: center;
    }

    /* WELCOME AREA */

    .welcome {
        height: 150vh;
        margin-bottom: 0;
    }
    
    .welcome div {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin:  0 auto;
        margin-top: -40%;
        height: 80%;
        justify-content: space-evenly;
        align-items: center;
        color: #092532;
    }
    
    .welcome h2 {
        font-size: 3rem;
        letter-spacing: 5px;
        margin-bottom: -25%;
    }
    
    .welcome h3 {
        font-size: 2rem;
        margin-bottom: -25%;

    }
    
    .welcome p {
        font-size: 2rem;
    }

    /*PHOTO GRID AREA */

.photos {
    margin-top: -40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375vh;
}

.photos div {
    width: 90%;
    margin: -30%;
}

.photos div p {
    font-size: 1.5rem;
    margin: 4% 0;
    color: #092532;
}

.photos div img {
    height: 50%;
    width: 100%;
}
    
/* FOOTER */

footer {
    height: 35vh;
    text-align: center;
}

footer p {
    margin: 2% 0;
    font-size: 3rem;
    letter-spacing: 3px;
    padding: 2%;
}

footer .nav-links {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

footer .nav-links a {
    margin: 1.7% auto;
    font-size: 2rem;
    letter-spacing: 1px;

}

}

@media (max-width: 415px) {
    .photos {
        margin-top: -55%;
    }
}

@media (max-width: 380px) {
    .photos {
        height: 300vh;
    }
}

@media (max-width: 280px) {
    .photos {
        height: 250vh;
    }
}