/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

/* HEADER */

header {
    width: 100%;
    height: 25vh;
    background-color: #092532;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo at top of page */
h1 {
    font-family: Montserrat;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    align-self: flex-start;
}

/* Navigation bar */

header nav {
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 0;
    width: 85%;
}

/* Navigation Links */

header nav a {
    display: inline-block;
    width: 13.7%;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #092532;
    background-color: #89c9b8;
    border-radius: 12px;
    padding: 1%;
    margin: 1% 2%;
    transition-property: color background-color;
    transition-duration: 50ms;
    transition-duration: 400ms;
}

/* navigation links hover effect */

header nav a:hover {
    background-color: #092532;
    color: #89c9b8;
}


/* MAIN */

.welcome {
    text-align: center;
    margin: 8% auto;
    font-family: Roboto;
}

/* parallax background effect */
.parallax {
background-image: url(photos/img1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top;
margin: auto;
width: 70%;
padding: 8%;
}

/* test inside parallax background */
.welcome h2 {
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: 2px;    
    color: white;
    text-shadow: 3px 3px 2px black, -3px -3px 2px black;
}

/* "point of view" text */
.italics {
    font-style: italic;
    font-weight: 700;
    font-size: 4.5rem;
}

/* text area under parallax */
.welcome div:last-of-type {
    border-top: solid #092532 8px;
    border-left: solid #092532 8px;
    border-right: solid #092532 8px;
    margin: 5% auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px -12px 20px 1px #aee4d6;
}

.welcome div:last-of-type p {
    color: #092532;
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin: 2% auto;
}

/* sign up now button */
.welcome a {
    text-decoration: none;
    display: inline-block;
    color: #89c9b8;
    background-color: #092532;
    border-radius: 12px;
    padding: 2%;
    margin-top: 5%;
    transition-property: color background-color;
    transition-delay: 75ms;
    transition-duration: 300ms;
    text-shadow: none;
    border: solid 1px white;
}

/* hover effect for sign up now button */
.welcome a:hover {
background-color: #e1ffc2;
color: #092532;

}

/* PHOTO GRID AREA */

/* entire section */
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

/*individual flexbox items */
.photos div {
    width: 29%;
    text-align: center;
}

/* captions under pictures */
.photos div p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 2.3rem;
    font-style: italic;
    margin: 4% 0;
    color: #092532;
    display: inline-block;
}

.photos div img {
    height: 60%;
    width: 80%;
}

/* shadow effect for photo captions*/ 
.shadow {
    text-shadow: 2px 2px 3px hsla(164, 37%, 66%, 0.9)
}

/* FOOTER */ 

footer {
    height: 25vh;
    background-color: #092532;
    text-align: right;
}

/* bottom logo */
footer p {
    font-family: Montserrat;
    margin-left: 3%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    text-align: right;
    padding: 2%;
}

footer nav {
    display: flex;
}

/*links in footer */
footer nav a {
    color: #89c9b8;
    text-decoration: none;
    margin: 0 2%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Montserrat;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 400ms;
}

/*hover effect for footer navbar links */
footer nav a:hover {
color: #e1ffc2;
}





/* MEDIA QUERY FOR HEADER/FOOTER FIX */

@media (max-width: 1308px) {

    /* HEADER */
    header {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* centering logo at top of page */
    h1 {
        font-size: 5rem;
        align-self: center;
    }
    
    /* spreading out links at top of page */
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header nav a {
        width: 30%;
        font-size: 2rem;
        padding: 1% 0;
        margin: 1.5% auto;
        text-align: center;
    }

}

/* MEDIA QUERY FOR TABLETS */

@media (max-width: 935px) {


    /* HEADER */

    /* creating space around logo */
    h1 {
        margin: 1% auto;
    }

    /* WELCOME AREA */

    /* make parallax area more narrow */
    .parallax {
        width: 70%;
    }

    /*font size change in parallax area */
    .parallax h2 {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    
    /* "point of view" font size */
    .italics {
        font-size: 3.5rem;
    }

    /* area under parallax font size change and width change of container */
    .welcome div:last-of-type {
        width: 90%;
        font-size: 2.5rem;
    }

    /*photo grid area column amount change*/
    .photos {
        width: 90%;
        margin: auto;
    }
    .photos div {
        width: 48%;
    }

    /* FOOTER */

    /*centering logo at bottom */
    footer p {
        text-align: center;
        font-size: 4.5rem;
        margin: 2%;
    }

    /*spacing out links in footer */
    footer nav {
        display: flex;
        justify-content: space-around;
    }

    footer nav a {
        text-align: center;
    }
}


/*mobile media query*/
@media (max-width: 528px) {

    /* HEADER */ 

    header {
        height: 41vh;
    }
    
    /*logo in header */
    h1 {
        margin-top: 3%;
        font-size: 3rem;
        letter-spacing: 3px;
        align-self: center;
    }
        
    /*header navbar*/
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
        
    /*header links*/
    header nav a {
        width: 50%;
        font-size: 2rem;
        padding: .5% 0;
        margin: 2.2% auto;
        text-align: center;
    }

    /* WELCOME AREA */

    /* removing parallax effect for mobile*/
    .parallax {
        background-color: white;
        background-image: none;
        width: 90%;
    }

    /* changing color/size of font that was inside parallax effect*/
    .parallax h2, .italics {
        color: #092532;
        text-shadow: none;
        line-height: 3.9rem;
        font-size: 2.7rem;
    }

    .welcome {
        margin-bottom: 15%;
    }
 
    
    /* PHOTO AREA */

    /* changing number of columns for photo grid */
    .photos div {
        width: 90%;
        margin:  auto;
    }

    /*more space between captions and photos */
    .photos div p {
        margin: 8% auto;
    }

    /* FOOTER */

    footer {
        height: 38vh;
        text-align: center;
    }

    /* logo in footer size change */
    footer p {
        margin: 2% 0;
        font-size: 3rem;
        letter-spacing: 3px;
        padding: 2%;
    }

    /*changing links from row to column for mobile */
    footer nav {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    footer nav a {
        margin: 1.7% auto;
        font-size: 2rem;
        letter-spacing: 1px;

    }
}