/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    width: 100%;
    height: 25vh;
    background-color: #092532;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo at top of page */
h1 {
    font-family: Montserrat;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    align-self: flex-start;
}

/* Navigation bar */

header nav {
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 0;
    width: 85%;
}

/* Navigation Links */

header nav a {
    display: inline-block;
    width: 13.7%;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #092532;
    background-color: #89c9b8;
    border-radius: 12px;
    padding: 1%;
    margin: 1% 2%;
    transition-property: color background-color;
    transition-duration: 50ms;
    transition-duration: 400ms;
}

/* navigation links hover effect */

header nav a:hover {
    background-color: #092532;
    color: #89c9b8;
}

/* TEAM PHOTOS */

/*"meet the team!"*/
h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 5rem;
    margin-top: 5%;
    color: #092532;
    font-weight: 700;
    text-shadow: 3px 2px 5px #89c9b8;
}

/*team member's name*/
h3 {
    font-size: 2.9rem;
    font-weight: 700;
    font-family: Montserrat;
    margin: 2% auto;
    color: #092532;
    letter-spacing: 2.5px;
    text-shadow: 3px 2px 5px #89c9b8;
}

/*team member's role*/
.smallerh3 {
    font-size: 2rem;
}

/*team member's info*/
.team-photos div p {
    font-family: roboto;
    display: inline-block;
    width: 90%;
    margin: 3% auto;
    font-size: 1.8rem;
    color: #092532;
    padding: 4%;
    border-radius: 20px;
    background-color: #dffff6;
    border: solid 3px #092532;
}

/*container for team info flexbox area */
.team-photos {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*divs in flexbox area*/
.team-photos div {
    margin-top: 5%;
    text-align: center;
    width: 27%;
}

.team-photos div img {
    width: 100%;
    height: auto;
}

/*icons*/
.fab {
    transform: scale(4);
    margin: 10% 10%;
    color: #092532;
    transition-property: color;
    transition-delay: 20ms;
    transition-duration: 300ms;
}

/*icons hover effect*/
.fab:hover {
    color: #89c9b8;
}



/* 2ND PHOTO AREA */

/*container for side-by-side photo/caption area*/
.photos {
    width: 95%;
    margin: 8% auto;
}

.photos div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8%;
}

.photos div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.photos img {
    height: 75%;
    width: 50%;
}

.photos div p {
    margin: 1% auto;
    display: inline-block;
    font-size: 2.3rem;
    font-family: roboto;
    color: #092532;
    display: inline-block;
    line-height: 2.9rem;
}

/*top side by side div*/
.photos div:first-of-type img {
    box-shadow: 5px 5px 15px 4px #89c9b8;
    border-top: solid 3px #092532;
    border-left: solid 3px #092532;
}

.photos div:first-of-type p {
    border-top: solid 3px #092532;
    border-right: solid 3px #092532;
    align-self: stretch;
    padding-top: 4%;
    background-color: hsla(164, 37%, 66%, 0.2);
    box-shadow: -5px 5px 10px 1px hsla(164, 37%, 66%, 0.2);
    margin-left: 4%;
}

/*bottom side by side div*/
.photos div:last-of-type img {
    box-shadow: -5px -5px 15px 4px #89c9b8;
    border-bottom: solid 4px #092532;
    border-right: solid 4px #092532;
}

.photos div:last-of-type p {
    border-left: solid 3px #092532;
    border-bottom: solid 3px #092532;
    padding-left: 1%;
    padding-top: 7%;
    align-self: stretch;
    display: inline-block;
    background-color: hsla(164, 37%, 66%, 0.2);
    box-shadow: 5px -5px 10px 1px hsla(164, 37%, 66%, 0.2);
    margin-right: 4%;
}

 /* "reach out to us" link */
.here {
    text-decoration: none;
    color: #092532;
    font-weight: 700;
    transition-property: text-shadow;
    transition-delay: 20ms;
    transition-duration: 250ms;
}

/*"reach out to us" link hover effect*/
.here:hover {
text-shadow: 1px 1px 3px #092532;
}

/* FOOTER */ 

footer {
    height: 25vh;
    background-color: #092532;
    text-align: right;
}

/*footer logo*/
footer p {
    font-family: Montserrat;
    margin-left: 3%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    text-align: right;
    padding: 2%;
}

footer nav {
    display: flex;
}

/*footer navlinks*/
footer nav a {
    color: #89c9b8;
    text-decoration: none;
    margin: 0 2%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Montserrat;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 400ms;
}

/*footer navlinks hover*/
footer nav a:hover {
color: #e1ffc2;
}

/* MEDIA QUERY FOR HEADER FIX */

@media (max-width: 1308px) {

    /* HEADER */

    header {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    /*centering logo*/
    h1 {
        font-size: 5rem;
        align-self: center;
    }
    
    /*spreading out links*/
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header nav a {
        width: 30%;
        font-size: 2rem;
        padding: 1% 0;
        margin: 1.5% auto;
        text-align: center;
    }
}



/* MEDIA QUERY FOR TABLET */
@media (max-width: 842px) {

    /* TEAM PHOTOS AREA */

    /*icons size adjustment*/
    .fab {
        transform: scale(3.2);
    }

    /*decreasing number of columns*/
    .team-photos div {
        width: 48%;
    }

    /* 2nd PHOTOS AREA */

    /*fixing sizing for pics/paragraphs at bottom*/
    .photos div {
        margin-top: 5%;
    }

    .photos div p {
        font-size: 2rem;
        line-height: 3rem;
    }

    /* FOOTER */

    footer {
        height: 30vh;
    }

    /*centering links in footer*/
    footer nav a {
        text-align: center;
        font-size: 1.5rem;
    }
    
    /*centering logo in footer*/
    footer p {
        text-align: center;
        margin-bottom: 3%;
    }
}

@media (max-width: 600px) {

    .photos div:first-of-type p, .photos div:last-of-type p {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    .photos div:last-of-type p {
        padding-bottom: 2%;
    }
}
/* MEDIA QUERY FOR MOBILE */

@media (max-width: 480px) {

    /* HEADER */ 

    header {
        height: 42vh;
    }
    
    /*centering logo in header*/
    h1 {
        margin: 1% 0;
        font-size: 3rem;
        letter-spacing: 3px;
        align-self: center;
    }
    
    /*changing links in navbar to be a column*/
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header nav a {
        width: 50%;
        font-size: 2rem;
        padding: .5% 0;
        margin: 2.5% auto;
        text-align: center;
    }

    /* TEAM PHOTOS AREA */

    /*making the team photos area one column*/
    .team-photos div {
        width: 90%;
    }

    /* 2nd PHOTOS AREA */

    /*changing the layout of bottom photo/caption area to one column*/
    .photos {
        height: 800px;
    }
    .photos div {
        flex-direction: column;
        align-items: center;
    }

    .photos div p {
        width: 100%;
        line-height: 1.7rem;
        font-size: 1.7rem;
    }

    /*changing border/box shadow effect*/
    .photos div:first-of-type img {
        border-top: solid 5px #092532;
        border-right: solid 5px #092532;
        border-left: solid 5px #092532;
        box-shadow: 0px 10px 15px 5px hsla(164, 37%, 66%, 0.2);
        width: 90%;
        margin: 5% auto;
    }

    .photos div:last-of-type img {
        border-top: solid 5px #092532;
        border-right: solid 5px #092532;
        border-left: solid 5px #092532;
        box-shadow: 0px 10px 15px 5px hsla(164, 37%, 66%, 0.2);
        width: 90%;
        margin: 5% auto;
        border-bottom: none;
    }

 

    .photos div:first-of-type p, .photos div:last-of-type p{
        border-top: none;
        border-bottom: solid 3px #092532;
        border-left: none;
        border-right: none;
        box-shadow: 0px -10px 15px 5px hsla(164, 37%, 66%, 0.2);
        width: 90%;
    }

    .photos div:last-of-type p {
        order: 2;
    }

    /* FOOTER */

    footer {
        height: 35vh;
        text-align: center;
    }

    /*centering footer logo*/
    footer p {
        margin: 2% 0;
        font-size: 3rem;
        letter-spacing: 3px;
        padding: 2%;
    }

    /*changing display of links from row to column*/
    footer nav {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    footer nav a {
        margin: 1.7% auto;
        font-size: 2rem;
        letter-spacing: 1px;

    }
}

/*YET ANOTHER MEDIA QUERY FOR BOTTOM TEXT BOX FIX*/

@media (max-width: 400px) {
    .photos div:first-of-type p, .photos div:last-of-type p {
        height: 40%;
        font-size: 1.7rem;
        letter-spacing: .2rem;
    }
}

/*MEDIA QUERY FOR BOTTOM TEXT AND HEADER LOGO FIX*/
@media (max-width: 271px) {

    h1 {
        font-size: 2.5rem;
    }
    .photos div:first-of-type p, .photos div:last-of-type p {
        font-size: 1.3rem;
    }
}



