/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    width: 100%;
    height: 20vh;
    background-color: #092532;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Montserrat;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    align-self: flex-start;
}

header nav {
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 0;
    width: 60%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.5rem;
    color: #092532;
    background-color: #89c9b8;
    border-radius: 12px;
    padding: 1%;
    margin: 1% 2%;
    transition-property: color background-color;
    transition-duration: 30ms;
    transition-duration: 300ms;
}

header nav a:hover {
    background-color: #092532;
    color: #89c9b8;
}

/* TEAM PHOTOS */


h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 5rem;
    margin-top: 5%;
    color: #092532;
}

h3 {
    font-size: 2.9rem;
    font-weight: 700;
    font-family: Montserrat;
    margin: 2% auto;
    color: #092532;
    letter-spacing: 2.5px;
}

.team-photos div p {
    font-family: roboto;
    display: inline-block;
    width: 90%;
    margin: 3% auto;
    font-size: 1.8rem;
    color: #092532;
    padding: 4%;
    border-radius: 20px;
    background-color: #dffff6;
    border: solid 3px #092532;
}
.team-photos {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-photos div {
    margin-top: 5%;
    text-align: center;
    width: 27%;
}

.team-photos div img {
    width: 100%;
    height: auto;
}

.fab {
    transform: scale(4);
    margin: 10% 10%;
    color: #092532;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 300ms;
}

.fab:hover {
    color: #89c9b8;
}



/* 2ND PHOTO AREA */

.photos {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 8% auto;
    justify-content: space-between;
}

.photos div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.photos div img {
    height: 75%;
    width: 50%;
}

.photos div:first-of-type img {
    box-shadow: 5px 5px 15px 4px #89c9b8;
}

.photos div:last-of-type img {
    box-shadow: -5px -5px 15px 4px #89c9b8;
}

.photos div p {
    margin: 1% auto;
    display: inline-block;
    width: 35%;
    font-size: 2.3rem;
    font-family: roboto;
    color: #092532;
    display: inline-block;
    height: 30%;
    line-height: 2.9rem;
}

/* FOOTER */ 

footer {
    height: 25vh;
    background-color: #092532;
    text-align: right;
}

footer p {
    font-family: Montserrat;
    margin-left: 3%;
    font-size: 5.5rem;
    letter-spacing: 6px;
    color: #89c9b8;
    text-align: right;
    padding: 2%;
}

footer .nav-links {
    display: flex;
}

footer .nav-links a {
    color: #89c9b8;
    text-decoration: none;
    margin: 0 2%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Montserrat;
    transition-property: color;
    transition-delay: 50ms;
    transition-duration: 400ms;
}

footer .nav-links a:hover {
color: #e1ffc2;
}

/* MEDIA QUERY FOR TABLET */
@media (max-width: 800px) {

    /* HEADER */

    header {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 5rem;
        align-self: center;
    }
    
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header nav a {
        width: 30%;
        font-size: 2rem;
        padding: 1% 0;
        margin: 1.5% auto;
        text-align: center;
    }

    .fab {
        transform: scale(3.2);
    }

    /* TEAM PHOTOS AREA */

    .team-photos div {
        width: 48%;
    }

    /* 2nd PHOTOS AREA */

    .photos div {
        margin-top: 5%;
    }

    .photos div p {
        font-size: 1.7rem;
        line-height: 2rem;
    }

        /* FOOTER */

        footer {
            height: 30vh;
        }
        footer nav a {
            text-align: center;
            font-size: 1.5rem;
        }
    
        footer p {
            text-align: center;
            margin-bottom: 3%;
        }
        

}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 480px) {

    /* HEADER */ 

    header {
        height: 40vh;
    }
    
    h1 {
        margin: 1% 0;
        font-size: 3rem;
        letter-spacing: 3px;
        align-self: center;
    }
    
    header nav {
        align-self: center;
        margin-bottom: 1%;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header nav a {
        width: 50%;
        font-size: 2rem;
        padding: 0;
        margin: 1.5% auto;
        text-align: center;
    }

    /* 2nd PHOTOS AREA */

    .photos {
        height: 120vh;
    }
    .photos div {
        flex-direction: column;
        align-items: center;
    }

    .photos div p {
        width: 100%;
        line-height: 1.7rem;
        font-size: 1.5rem;
    }

    .photos div img {
        width: 90%;
        margin: 5% auto;
    }

    .photos div:last-of-type p {
        order: 2;
    }
    /* FOOTER */

footer {
    height: 35vh;
    text-align: center;
}

footer p {
    margin: 2% 0;
    font-size: 3rem;
    letter-spacing: 3px;
    padding: 2%;
}

footer .nav-links {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

footer .nav-links a {
    margin: 1.7% auto;
    font-size: 2rem;
    letter-spacing: 1px;

}
}