html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;  */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
    /* border: 1px solid grey; */
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
}

header{
    background-color: #092532;
}

nav{
    text-align: center;
    padding: 1.5%;
}

header nav a{
    display: inline-block;
    width: 14%;
    flex-direction: row;
    border-radius: 12px;
    padding: 1%;
    font-size: 1rem;
    margin: 0 1%;
    font-size: 1.5rem;
    background-color: #89c9b8;
    color: #092532;
    text-decoration: none;
    font-family: montserrat, sans-serif;
}

a:hover{
    background-color: #e1ffc2;
    color: #092532;
}

.contact-section h1{
    text-align: center;
    color: #092532;
    font-size: 5rem;
    padding: 2%;
    font-family: montserrat, sans-serif;
    
}

.contact-form{
    margin: 0 auto;
    width: 50%;
    padding: 8%;
}

.contact-form-text{
    display: block;
    width: 100%;
    margin: 3% 0;
    border-radius: 12px;
    text-align: center;
    padding: 4%;
    background-color: #89c9b8;
    color:#092532;
    border: 1px #092532;
}

.contact-btn{
    border-radius: 12px;
    float: right;
    padding: 2% 5%;
    margin: 2% 0;
    background-color: #092532;
    color: #89c9b8;
}

.contact-btn:hover{
    background-color: #89c9b8;
    color:#092532 ;
}

footer{
    background-color: #092532;
}

footer nav a{
    display: inline-block;
    width: 14%;
    flex-direction: row;
    border-radius: 12px;
    padding: 1%;
    font-size: 1rem;
    margin: 0 1%;
    font-size: 1.5rem;
    /* background-color: #89c9b8; */
    color: #89c9b8;
    text-decoration: none;
    font-family: montserrat, sans-serif;
}

@media (max-width: 800px){
    header nav a{
        width: 20%;
        margin: 2%;
    }

    .contact-form{
        width: 70%;
    }

    footer nav a{
        width: 20%;
        margin: 2%;
    }

}

@media (max-width: 500px){
    header nav a{
        display: flex;
        width: 25%;
        justify-content: center;
        margin: 1.5% auto;
        background-color:#092532;
        color: #89c9b8;
        border: 1px solid white;
    }

    .contact-form{
        width: 100%;
    }

    .contact-btn{
        padding: 1%;
        width: 25%;
    }

    footer nav a{
        display: flex;
        width: 20%;
        justify-content: center;
        margin: 1.5% auto;
        border: 1px solid white;
    }
}